/**
 * Стили для обработчика форм
 *
 * @param {Class} [.js-input_no-valid] Класс, для полей с ошибками
 * @param {Class} [.js-input_valid] Класс, для корректных полей
 */


/* Ошибка */
.js-input_no-valid
{
	color: red;
}
/* Всё верное */
.js-input_valid
{
	opacity: 0.7 !important;

	color: green !important;
}

/* Для модальных окон */
.form__input.js-input_no-valid,
.form__input.js-input_no-valid:focus
{
	color: white !important;
	background: #cd3102;
}
.form__input.js-input_valid
{
	color: black !important;
	background: #3cdc00;
}