.modal-open{overflow:hidden;}
.modal{position:fixed;top:0;right:0;bottom:0;left:0;z-index:1050;display:none;overflow:hidden;-webkit-overflow-scrolling:touch;outline:0;}
.modal.fade .modal-dialog{transition:transform 0.3s ease-out;transform:translate3d(0, -25%, 0);}
.modal.in .modal-dialog{transform:translate3d(0, 0, 0);}
.modal-open .modal{overflow-x:hidden;overflow-y:scroll;}
.modal-dialog{position:relative;width:auto;margin:30px;}
.modal-content{position:relative;overflow:visible;height:auto;outline:0;background:white;background-clip:padding-box;text-align:left;}
.modal-backdrop{position:fixed;top:0;right:0;bottom:0;left:0;z-index:1040;background:#000;}
.modal-backdrop.fade{opacity:0;}
.modal-backdrop.in{opacity:0.7;}
.modal-header{padding:10px;}
.modal-title{margin:0;}
.modal-body{position:relative;background:transparent;}
.modal-footer{padding:10px;}
.modal-scrollbar-measure{position:absolute;top:-9999px;overflow:scroll;width:50px;height:50px;}
.close{position:absolute;top:-20px;right:-5px;display:block;width:18px;height:18px;border:none;outline:none;background:url('img/ic_close.png') no-repeat;cursor:pointer;transition:0.2s;vertical-align:top;}
.close:hover{transform:rotate(90deg);}
.modal-dialog{width:308px;margin:60px auto 0;}
.modal-content{background:#49bb63;}
.modal-header{padding:20px 0;}
.modal-title{font-size:23px;color:white;text-align:left;}
.modal_callback .modal-content, .modal_newuser .modal-content{background:#49bb63;}
.modal_callback .modal-body, .modal_newuser .modal-body{padding:0 20px 38px;}
.modal_callback .modal-header, .modal_newuser .modal-header{padding:28px 20px 24px;}
.modal_callback .modal-title, .modal_newuser .modal-title{margin:0;font-weight:300;line-height:28px;text-transform:uppercase;}
.modal_callback .modal-note, .modal_newuser .modal-note{margin:10px 0 0;font-size:15px;font-weight:300;line-height:21px;color:white;}
.modal_callback .form__line_btn, .modal_newuser .form__line_btn{text-align:right;}
.form__line{position:relative;margin-bottom:10px;text-align:left;}
.input_focus::before{position:absolute;top:-30px;left:-33px;z-index:1;display:block;width:38px;height:56px;background:url('img/ic_arrow.png') no-repeat;content:'';}
.form__input{position:relative;display:block;width:100%;height:34px;box-sizing:border-box;margin:0 auto;padding:0 12px;border:none;background:#185f89;transition:200ms;font:400 14px/normal 'Trebuchet MS', Arial, Verdana, sans-serif;color:white;}
.form__input:focus{background:#388796;}
.btn{position:relative;display:inline-block;box-sizing:border-box;margin:0;border:none;outline:none !important;cursor:pointer;transition-duration:0.2s;font-family:'Trebuchet MS', Arial, Verdana, sans-serif;font-weight:500;color:white;text-align:center;vertical-align:middle;text-decoration:none;}
.modal_send_btn{height:43px;padding:0 54px;border-bottom:2px solid #dfc300;background:#fee015;font-size:20px;color:#033;}
.modal_send_btn:hover{background:#eccf0d;}
.modal_send_btn:active{border-bottom:0 solid #dfc300;}
.form__input::-webkit-input-placeholder{color:white !important;}
.form__input::-moz-placeholder{color:white !important;}
.form__input:focus::-webkit-input-placeholder{color:transparent !important;}
.form__input:focus::-moz-placeholder{color:transparent !important;}